# Python
__pycache__/
*.pyc
*.pyo

# logs
logs/
*.log

# checkpoints / models
checkpoints/
*.pt
*.pth
*.ckpt

# data
data/
*.npz
*.npy

# env
.env
.venv/
venv/

# system
.DS_Store

# ray / tmp
/tmp/
/ray_results/

# vscode
.vscode/

*.csv
*.pdf
*.png

demo.py

plot.py

toy_demo.py
